.popup-content {
  margin: auto;
  background: #fff;
  width: auto;
  padding: 1rem;
  border: 1px solid $dgray
}

.popup-overlay {
  background: rgba(0, 0, 0, .8)
}

.product-popup {
  max-width: 300px;
}
