@import "sass/reset";
@import "sass/variables";
@import "sass/popup";
@import "sass/product-card";


button {
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
  text-transform: lowercase;


  &:hover {
    background: $dblue;
  }

  &:disabled {
    background: $red;
    opacity: 0.6;
    cursor: not-allowed;
  }

}


.header {
  text-align: center;
  color: $blue;
  font-size: 2rem;
}

.main {
  .menu {
    width: 100%;
    margin: 0 auto;
    display: inline-block;

    .menu-list {
      background-color: $dblue;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .menu-list-item {
        min-width: 200px;
        text-align: center;
        cursor: pointer;
        padding: 1rem;
        color: $white;
        transition: 0.2s ease;

        &.active {
          background-color: $blue;
        }

        &:hover {
          color: $white;
          background: $red;
        }
      }
    }
  }

  .catalog-wrapper {
    background-color: $gray;
    width: 100%;
    color: $dblue;
    padding-bottom: 1rem;

    .catalog {
      padding: 1rem;
      margin: 0 auto;
      display: grid;
      gap: 1rem;
      max-width: 1360px;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .more-button {
      margin: 0 auto;
      display: block;
      text-transform: uppercase;
    }
  }
}